*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  color-scheme: light dark;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
iframe,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-primary: #1f2937;
  --clr-text: #f9faf8;
  --clr-secondary: #e5e7eb;
  --clr-accent: #3882f6;

  --default-font: "Roboto", sans-serif;

  --fs-400: 48px;
  --fs-300: 36px;
  --fs-200: 24px;
  --fs-100: 18px;

  --fw-900: 900;
  --fw-700: 700;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
}

body {
  font-family: var(--default-font);
  font-size: var(--fs-100);
  font-weight: var(--fw-400);
  color: var(--clr-text);
}

/* utility classes */

.container {
  max-width: 100%;
  padding: 0% max(20%, 16px);
  margin: 0 auto;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  align-self: flex-start;
  font-size: var(--fs-200);
  font-weight: var(--fw-900);
}
