*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  color-scheme: light dark;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
iframe,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-primary: #1f2937;
  --clr-text: #f9faf8;
  --clr-secondary: #e5e7eb;
  --clr-accent: #3882f6;

  --default-font: "Roboto", sans-serif;

  --fs-400: 48px;
  --fs-300: 36px;
  --fs-200: 24px;
  --fs-100: 18px;

  --fw-900: 900;
  --fw-700: 700;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;

  --side-padding: max(15%, 2rem);
  --single-margin-value: 1em;
  --top-margin: var(--single-margin-value) 0em 0em 0em;
  --button-border-radius: 10px;
}

body {
  font-family: var(--default-font);
  font-size: var(--fs-100);
  font-weight: var(--fw-400);
  color: var(--clr-secondary);
  background-color: black;
}

h1 {
  font-size: var(--fs-400);
  font-weight: var(--fw-900);
  color: var(--clr-text);
}

h2 {
  font-size: var(--fs-300);
  font-weight: var(--fw-900);
}

p {
  color: var(--clr-secondary);
  margin: var(--single-margin-value) 0em var(--single-margin-value) 0em;
}

/* utility classes */

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.four-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* header */

#header {
  background-color: var(--clr-primary);
  padding: 1rem var(--side-padding);
}

.logo {
  font-size: var(--fs-200);
  font-weight: var(--fw-900);
  align-self: flex-start;
  color: var(--clr-text);
}

.header-link {
  padding: 0rem 1rem;
  font-size: var(--fs-100);
}

/* hero */

#hero {
  background-color: var(--clr-primary);
  padding: 8rem var(--side-padding);
}

.hero-left {
  max-width: 90%;
  height: auto;
}

.hero-image {
  display: grid;
  place-content: center;
  background-color: rgba(229, 231, 235, 0.55);
  color: var(--clr-text);
  max-width: 110%;
}

.hero-image p {
  color: var(--clr-text);
}

.button {
  background-color: var(--clr-accent);
  color: var(--clr-text);
  font-weight: var(--fw-500);
  margin: var(--top-margin);
  max-width: 33%;
  padding: 0.5rem 2rem;
  border-radius: var(--button-border-radius);
}

/* features */

#features {
  background-color: var(--clr-text);
  padding: 10rem var(--side-padding);
}

#features h2 {
  margin: 0 0 var(--single-margin-value) 0;
}

#features h2,
#features p {
  text-align: center;
  color: var(--clr-primary);
}

#features .four-column-grid {
  gap: 3rem;
}

.square-with-border {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1;
  background-color: var(--clr-text);
  border: 4px solid var(--clr-accent);
  border-radius: 20px;
}

/* quote */

#quote {
  background-color: var(--clr-secondary);
  padding: 4rem var(--side-padding);
}

.quote {
  font-size: var(--fs-300);
  font-weight: var(--fw-300);
  font-style: italic;
  color: var(--clr-primary);
}

.author {
  font-size: var(--fs-100);
  font-weight: var(--fw-500);
  text-align: right;
  color: var(--clr-primary);
}

/* call to action */

#call-to-action {
  background-color: var(--clr-text);
  padding: 4rem var(--side-padding);
}

.card {
  max-width: 100%;
  height: auto;
  padding: 2rem 5rem;
  border-radius: var(--button-border-radius);
  background-color: var(--clr-accent);
}

.card__title,
.card__text {
  margin: 0em var(--single-margin-value) 0em 0em;
}

.card__title {
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
  color: var(--clr-text);
}

.card__text {
  color: rgba(229, 231, 235, 0.8);
}

.card__button {
  background-color: var(--clr-accent);
  color: var(--clr-text);
  font-weight: var(--fw-500);
  max-width: 33%;
  padding: 0.25rem 2rem;
  border: 2px solid var(--clr-text);
  border-radius: var(--button-border-radius);
}

/* footer */

#footer {
  background-color: var(--clr-primary);
  padding: 0.5rem var(--side-padding);
}

#footer p {
  text-align: center;
}
